html {
  height: 100%;
  /* Ensuring the html element covers the full height */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-color: aliceblue;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  /* Make sure it covers at least the viewport height */
  width: 100vw;
  /* Ensure it covers full viewport width */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Keep the background fixed during scrolling */
  background-position: center;
  backdrop-filter: blur(8px);
}

@font-face {
  font-family: 'Google Sans';
  src: url('./assets/fonts/GoogleSans-Regular.ttf') format('truetype'),
    url('./assets/fonts/GoogleSans-Bold.ttf') format('truetype'),
    url('./assets/fonts/GoogleSans-BoldItalic.ttf') format('truetype'),
    url('./assets/fonts/GoogleSans-Italic.ttf') format('truetype'),
    url('./assets/fonts/GoogleSans-Medium.ttf') format('truetype'),
    url('./assets/fonts/GoogleSans-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}